a{
  text-decoration:none;
  color:black;
  margin:7px;
}
a:hover{
  text-decoration: underline;
}
.logo{
  position: relative;
  top:150px;
  width:450px;
  margin:0 auto;
}
img{
  width:70%;
  margin:auto;
  display:block;
}
body{
  font-family: arial, sans-serif;
  font-size: 13px;
}
input{
  border-radius: 2px;
  border:solid 1px white;
  background-color: #eee;
  padding:5px;
  margin:5px;
}
header{
  float:right;
}
.right{
float: right;
}
.left{
float:left;
}
footer{
  background-color:#eee;
  position:fixed;
  width:100%;
  height:90px;
  bottom: 0px;
  left: 0px;
}
footer a{
  font-size:15px;
  color:#777;
}
#search{
  width:100%;
  height:30px;
  background-color: white;
  border: 1px solid #cccccc;
}
.search{
  width:300px;
  margin: 20px auto;
}
p{
  text-align: center;
}
.search input{
  width:135px;
}
#signin{
  background-color: rgb(70, 131, 234);
  color:white;
}
input:hover{
  border: #888 solid 1px;
}
#search:hover{
  border: #aaa 1px solid;
}
